@import '../styles/variables.module.scss';

.title {
    font-family:"Valorant";
    z-index: 100;
}

.search {
    width: 500px;
}

.search {
    width: 500px;
}

.sage-div{
    position: absolute;
    left: 0;
    top: 0;
}


.dropdown-li{
    display: flex;
    flex-direction: row;
    padding: $spacer-2;
    gap: $spacer-1;
}
.dropdown-tag{
    background-color: $lightgray;
    padding: $spacer-1;
    border-radius: 5px;
}
