@import '../styles/variables.module.scss';

.title {
    font-family:"Valorant";
    z-index: 100;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.half {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.background {
    display: flex;
    flex: 15%;
    height: 45vh;
    width: 40vw;
    background-image: url("../../public/sageback.png");
    background-size: contain; /* or 'contain' depending on your preference */
    background-repeat: no-repeat;
    opacity: 1; /* Adjust the opacity as needed */
    z-index: 1; /* Place it behind other content */
    background-position: left bottom;

    @media (max-width: 768px) {
        display: flex;
        position: relative;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.search {
    width: 500px !important;
    // z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    // flex: 50%;

    @media (max-width: 768px) { 
        width: 90vw !important;
    }
}

.dropdown-li{
    display: flex;
    flex-direction: row;
    padding-top: $spacer-2;
    padding-bottom: $spacer-2;
    gap: $spacer-1;
}

.dropdown-tag{
    background-color: $lightgray;
    padding: $spacer-1;
    border-radius: 5px;
}



.rightblank {
    // width: 10%;
    flex: 15%;

}
  