@import '../styles/variables.module.scss';

.title {
    font-family:"Valorant";
    z-index: 100;
}

.search {
    width: 500px;
}

.search {
    width: 500px;
}

.sage-div{
    position: absolute;
    left: 0;
    top: 0;
}

