$black: #151211;
$darkgray: #313131;
$lightgray: #414141;
$gray: #e8e1ee;
$text-color: #acacac; // Main color
$lightgreen: #3be0c3;
$green: #16b199;
$darkgreen: #38646b;
$spacer-1: 5px;
$spacer-2: 10px;
$spacer-regular: 25px;
$spacer-wide: 50px;
$padding-top: 50px;
$padding-side: 100px;

:export {
  black: $black;
  gray: $gray;
  lightgreen: $lightgreen;
  lightgray: $lightgray;
  green: $green;
  darkgray: $darkgray;
  darkgreen: $darkgreen;
  spacer-1: $spacer-1;
  spacer-2: $spacer-2;
  spacer-wide: $spacer-wide;
  spacer-regular: $spacer-regular;
  padding-side:$padding-side;
  padding-top: $padding-top;
  text-color: $text-color;
}
