$black: #151211;
$darkgray: #313131;
$gray: #e8e1ee;
$lightgreen: #3be0c3;
$green: #16b199;
$darkgreen: #38646b;
$spacer-1: 5px;
$spacer-regular: 25px;
$spacer-wide: 50px;

:export {
  black: $black;
  gray: $gray;
  lightgreen: $lightgreen;
  green: $green;
  darkgray: $darkgray;
  darkgreen: $darkgreen;
  spacer-1: $spacer-1;
  spacer-wide: $spacer-wide;
  spacer-regular: $spacer-regular;
}
