$black: #151211;
$darkgray: #3d3d3d;
$gray: #e8e1ee;
$lightgreen: #3be0c3;
$green: #16b199;
$darkgreen: #38646b;

:export {
    black : $black;
    gray : $gray;
    lightgreen : $lightgreen;
    green : $green;
    darkgray : $darkgray;
    darkgreen : $darkgreen;
   }